@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.reset-margin-padding {
  margin: 0;
  padding: 0;
}

/* Buttons */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.button-link {
  background-color: #756157;
}

.button-link:hover,
.button-link:focus {
  background-color: #615048;
}

.button-submit {
  background-color: #82b3d3;
}

.button-submit:hover,
.button-sumbit:focus {
  background-color: #68a2ca;
}

.button-added {
  background-color: #7db54f;
}

.button-added:hover,
.button-submit:focus {
  background-color: #6c9e42;
}

.button-reset {
  padding: 8px 57px;
  box-sizing: border-box;

  color: #ffffff;

  background: none;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:focus {
  box-shadow: 0 0 0 3px #83b3d3 inset;
  outline: none;
}

.button:active,
.pagination-link.active:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  color: #ffffff;

  background-color: #e5e5e5;
}

.button-reset:disabled {
  opacity: 10%;
}

/* header navigation */

.navigation {
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo,
.page-header-logo {
  position: absolute;
  top: 1px;
}

.navigation-wrapper {
  margin-left: 186px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style-type: none;
}

.navigation-list:first-child {
  max-width: 400px;
}

.navigation-list:first-child .navigation-link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation-list:first-child .navigation-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-user {
  margin-left: auto;
  max-width: 300px;
  justify-content: flex-end;
}

.navigation-link {
  position: relative;

  display: block;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-item:last-child {
  margin-left: 20px;
}

.navigation .button {
  width: 160px;
}

.search,
.favorites {
  display: block;
  width: 44px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.search {
  background: url("../images/menu-search.svg") 50% 50% no-repeat;
}

.favorites {
  position: relative;
  background: url("../images/menu-heart.svg") 50% 50% no-repeat;
}

.favorites-added::after {
  position: absolute;
  top: 3px;
  left: 22px;

  content: "12";
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  padding: 5px;

  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  border-radius: 50%;
  background-color: #7db54f;
}

.navigation-link.current {
  user-select: none;
}

.navigation-link.current::before {
  position: absolute;
  bottom: -1px;

  content: "";
  width: 100%;
  height: 2px;
  background-color: #615048;
}


/* main index */

.intro-wrapper {
  height: 485px;

  text-align: center;

  background:
    url("../images/index-divider.svg") 0 100% no-repeat,
    url("../images/index-background.jpg") no-repeat;
  background-color: #82b3d3;
}

.intro-wrapper .intro-image {
  margin-top: 51px;
}


/* advantages */

.advantages {
  text-align: center;
}

.advantages-intro-wrapper {
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages-intro {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-list,
.recommendation-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);

  list-style-type: none;
}

.advantages-item,
.recommendation-item {
  min-height: 384px;
}

.recommendation-item {
  position: relative;
}

.advantages-item:first-child,
.advantages-item:last-child {
  display: flex;
  grid-column: 1/-1;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-item:last-child {
  flex-direction: row-reverse;
}

.advantages-item,
.recommendation-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-about,
.recommendation-about {
  width: 230px;
  margin: auto;
}

.advantage-about {
  margin-top: 103px;
  margin-bottom: 121px;
}

.recommendation-about {
  margin-top: 182px;
  margin-bottom: 81px;
}

.advantages-item:first-child .advantage-about,
.advantages-item:last-child .advantage-about {
  margin-top: 92px;
  margin-bottom: 111px;
}

.advantages-title,
.recommendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  position: relative;

  margin: 0 auto;
  width: 175px;
  margin-bottom: 62px;
}

.recommendation-title {
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-description,
.recommendation-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-title::after {
  position: absolute;
  top: 86px;
  left: 58px;

  content: "";
  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item:first-child .advantages-title::after,
.advantages-item:last-child .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-illustration {
  object-fit: contain;
  align-self: center;
}


.recommendation-item::after {
  position: absolute;
  top: 81px;
  left: 163px;

  content: "";
  width: 75px;
  height: 75px;
}

.recommendation-item:first-child::after {
  background: url("../images/advantage-icons/icon-housing.svg") no-repeat;
  background-size: contain;
}

.recommendation-item:nth-child(2)::after {
  background: url("../images/advantage-icons/icon-food.svg") no-repeat;
  background-size: contain;
}

.recommendation-item:last-child::after {
  top: 78px;
  left: 170px;

  background: url("../images/advantage-icons/icon-souvenirs.svg") no-repeat;
  background-size: contain;
}


/* hotel search */

.hotel-search {
  text-align: center;
}

.hotel-search-wrapper {
  width: 592px;
  margin: 96px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-search-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-description {
  margin-bottom: 54px;
}

.hotel-search .button {
  width: 376px;
  align-self: center;

  font-size: 20px;
  line-height: 36px;
}


/* footer-subscription */

.subscription {
  min-height: 414px;
  padding-top: 1px;

  text-align: center;
}

.subscribtion-main {
  color: #ffffff;

  background: url("../images/subscribe-background.jpg") no-repeat;
  background-size: cover;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  margin-top: 20px;
}

.subscription-content {
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  width: 684px;
  margin-top: 54px;
}

.subscription-input {
  width: 452px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription-form .button {
  padding-left: 50px;
  padding-right: 50px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

input:hover {
  background-color: #e6e6e6;
}

input:focus,
input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3 inset;
}


input:active {
  box-shadow: 0 0 0 2px #000000 inset;
  outline: none;
}

/* footer */

.footer-contacts {
  width: 1060px;
  padding-top: 45px;
  padding-bottom: 35px;
  margin-left: 82px;
  margin-right: 70px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
}

.social-links-list {
  max-width: 142px;
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style-type: none;
}

.social-links-item:not(:last-child) {
  margin-right: 26px;
}

.social-link {
  display: flex;
  align-items: baseline;
}

.social-link-img {
  fill: #83b3d3;
}

.social-link:hover .social-link-img,
.social-link:focus .social-link-img {
  fill: #68a2ca;
}

.social-link:active .social-link-img {
  fill: rgba(104, 162, 202, 0.3);
}

.address-links {
  width: 331px;
  margin-left: 249px;
}


.phone-link {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.phone-link:hover,
.phone-link:focus {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.partner-link {
  position: relative;

  margin-left: 235px;
  margin-right: auto;
  display: block;
  min-width: 115px;
  min-height: 33px;
  justify-self: end;
}

.partner-link-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  fill: #000000;
}

.partner-link:hover .partner-link-img,
.partner-link:focus .partner-link-img {
  fill: #756157;
}

.partner-link:active .partner-link-img {
  fill: rgba(117, 97, 87, 0.3);
}


/* CATALOG */


.filter-wrapper {
  min-height: 412px;

  color: #ffffff;

  background: url("../images/catalog-background.jpg") no-repeat;
  background-size: cover;
}

.main-inner-header {
  width: 1060px;
  padding-top: 35px;
  margin: 0 auto;
}

.main-inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}


.breadcrumbs-item:first-child {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-link.home {
  display: block;
  width: 12px;
  height: 12px;

  background: url("../images/breadcrumbs/breadcrumbs-home.svg") no-repeat 50% 50%;
  background-size: cover;
}

.breadcrumbs-link.current {
  user-select: none;
}

.breadcrumbs-link,
.breadcrumbs-link:focus {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:first-child::before {
  position: absolute;
  left: 22px;
  top: -5px;

  content: "";
  width: 8px;
  height: 20px;

  background: url("../images/breadcrumbs/breadcrumbs-slider.svg") no-repeat;
}

/* hotel-filter */

.hotel-filter-form {
  width: 1060px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 140px;
}

.hotel-filter-group-left,
.hotel-filter-group-right {
  display: flex;
  flex-wrap: wrap;
  gap: 70px
}

.hotel-filter-group-left {
  min-width: 370px;
}

.hotel-filter-group {
  font-size: 18px;
  line-height: 23px;

  border: none;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotel-filter-list {
  margin-top: 32px;
  max-height: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style-type: none;
}

.hotel-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;

  display: block;
  padding-left: 36px;
  font: inherit;
  font-size: 18px;
  line-height: 23px;

  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  left: 4px;

  content: "";
  width: 12px;
  height: 10px;

  background: url("../images/checked-box.svg") no-repeat;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;

  content: "";
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #3f5e72;
}

.control:hover {
  opacity: 60%;
}

.control:active {
  opacity: 30%;
}

.control:focus .control-mark,
.control:focus-within .control-mark {
  outline: #83b3d3 solid 3px;
}


/* range-slider */

.range {
  margin-top: 32px;
}

.range-wrapper-inputs {
  position: relative;

  width: 288px;
  display: flex;
  justify-content: space-between;
}

.range-input {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  box-sizing: border-box;

  font: inherit;
  font-weight: 700;

  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;

  appearance: textfield;
}

.range-input:last-of-type {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.min-price-label,
.max-price-label {
  position: absolute;
  left: 106px;
  top: 12px;

  font: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.max-price-label {
  left: 250px;
}

.range-scale {
  position: relative;

  height: 4px;
  margin-top: 44px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  z-index: 1;

  height: 4px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  border-radius: 5px;
  background-color: #ffffff;
  border: none;

  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 #00000040;
}

.range-toggle:focus,
.range-toggle:active {
  box-shadow: 0 0 0 3px #83b3d3 inset;
}

.toggle-min {
  top: -8px;
  left: 1px;
}

.toggle-max {
  top: -8px;
  left: 207px;
}

.hotel-filter-buttons {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.hotel-filter-buttons .button-submit {
  width: 191px;
  margin-bottom: 32px;
}


/* catalog settings */

.hotel-catalog-settings {
  width: 1060px;
  margin: 50px auto 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-catalog-options {
  display: flex;
}

.sort-by-price {
  width: 292px;
  height: 49px;
  margin-right: 70px;
  padding-left: 20px;

  font: inherit;
  font-size: 18px;
  line-height: 21px;

  box-shadow: 0 0 0 2px #e6e6e6 inset;
  border: none;
  border-radius: 4px;
  background: url("../images/select-open.svg") no-repeat right 20px center;

  appearance: none;
  cursor: pointer;
}

.sort-by-price:hover,
.sort-by-price:focus {
  box-shadow: 0 0 0 2px #68a2ca inset;
  outline: none;
}

.sort-by-price:active {
  box-shadow: 0 0 0 2px #3f5e72 inset;
  outline: none;
}

.sort-by-price:disabled {
  color: rgba(0, 0, 0, 0.3);

  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3) inset;
  background: url("../images/select-disabled.svg") no-repeat right 20px center;
}

.hotel-catalog-view {
  display: flex;
  flex-wrap: wrap;
}

.card-grid-toggle {
  display: block;
  width: 48px;
  height: 48px;

  box-shadow: 0 0 0 2px #e5e5e5 inset;
  border-radius: 4px;

  cursor: pointer;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.card-grid-toggle.active,
.card-grid-toggle:hover,
.card-grid-toggle:active {
  box-shadow: 0 0 0 2px #000000 inset;
}

.card-grid-toggle:focus {
  box-shadow: 0 0 0 2px #68a2ca inset;
  outline: none;
}

.card-grid-toggle.grid {
  background: url("../images/view-grid.svg") no-repeat 50% 50%;
}

.card-grid-toggle.slide {
  background: url("../images/view-slide.svg") no-repeat 50% 50%;
}

.card-grid-toggle.list {
  background: url("../images/view-list.svg") no-repeat 50% 50%;
}

/* hotel-catalog */

.hotel-catalog {
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;

  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

.hotel-list-item {
  margin-bottom: 20px;

  box-shadow: 0 0 1px 1px #e6e6e6;
  border-radius: 4px;
}

.hotel-list-item:last-child {
  margin-bottom: 0;
}

.hotel-list-content {
  margin: 20px;
}

.hotel-list-image {
  display: block;
  object-fit: contain;
}

.hotel-type,
.hotel-price {
  font-weight: 400;
}

.hotel-price {
  text-align: end;
}

.hotel-about {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-about .button {
  width: 140px;
}

.hotel-list-title {
  margin-top: 16px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-list-link {
  text-decoration: none;
}

.hotel-rating {
  padding: 9px 22px 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;

  background-color: #f2f2f2;
  border-radius: 4px;

  user-select: none;
}

.hotel-stars {
  width: 140px;
  height: 37px;
}

.hotel-stars-4 {
  background:
    url("../images/star.svg") 73px 10px no-repeat,
    url("../images/star.svg") 49px 10px no-repeat,
    url("../images/star.svg") 24px 10px no-repeat,
    url("../images/star.svg") 0 10px no-repeat;
}

.hotel-stars-3 {
  background:
    url("../images/star.svg") 49px 10px no-repeat,
    url("../images/star.svg") 24px 10px no-repeat,
    url("../images/star.svg") 0 10px no-repeat;
}

.hotel-stars-2 {
  background:
    url("../images/star.svg") 24px 10px no-repeat,
    url("../images/star.svg") 0 10px no-repeat;
}

/* pagination */

.pagination {
  position: relative;

  margin-top: 80px;
  margin-bottom: 60px;
  display: flex;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  list-style-type: none;
}

.pagination::after {
  position: absolute;
  top: -40px;

  content: "";
  width: 100%;
  height: 1px;

  background-color: #e6e6e6;
}

.pagination-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-height: 60px;
  margin-left: 8px;

  text-decoration: none;
  text-align: center;
  color: #ffffff;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-current {
  margin-left: 0;

  color: #000000;

  background-color: #f2f2f2;
}

.pagination-next {
  font-weight: 400;
  color: #000000;

  background: none;
}

.pagination-link.active:hover,
.pagination-link.active:focus {
  background-color: #68a2ca;
}

/* modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container.closed {
  display: none;
}

.modal-search {
  position: relative;

  margin: auto;
  margin-top: 396px;
  padding: 62px 70px;
  width: 717px;
  box-sizing: border-box;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-content {
  font-weight: 700;
}

.modal-close-button {
  position: absolute;
  top: 61px;
  left: 613px;

  width: 52px;
  height: 52px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-position: left 19px top 18px;
  background-repeat: no-repeat;

  cursor: pointer;
}

.modal-close-button::before {
  position: absolute;
  top: 25px;
  left: 18px;

  content: "";
  width: 16px;
  height: 2px;

  background-color: #000000;

  transform: rotate(45deg);
}

.modal-close-button::after {
  position: absolute;
  top: 25px;
  left: 18px;

  content: "";
  width: 16px;
  height: 2px;

  background-color: #000000;

  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px
}

.modal-search-form {
  margin-top: 64px;
}

.modal-search-form {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr max-content 1fr;
  column-gap: 18px;
  grid-template-rows: repeat(3, 48px);
  row-gap: 48px;
  align-items: center;

  border: none;
}

.modal-form-label {
  font-size: 20px;
  line-height: 24px;
}

.modal-form-label.date-label {
  grid-column: 1/2;
}

.modal-input {
  box-sizing: border-box;

  font: inherit;
  font-size: 18px;
  line-height: 24px;

  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
}

.input-date {
  padding: 12px 20px;
  width: 100%;
}

.date-wrapper {
  position: relative;

  grid-column: 2/-1;
}

.date-invalid,
.date-valid {
  display: none;

  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.modal-content .date-invalid {
  color: #ff5757;
}

.date-invalid.shown,
.date-valid.shown {
  position: absolute;
  top: 51px;
  left: 20px;

  display: block;
}

.calendar-button {
  position: absolute;
  left: 402px;
  top: 15px;

  width: 20px;
  height: 20px;

  opacity: 30%;
  background: url(../images/modal-calendar.svg) no-repeat;
  border: none;

  cursor: pointer;
}

.modal-form-age-range {
  width: 247px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.age-range-wrapper {
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 4px;
  background-color: #f2f2f2;
}

.age-range-wrapper:last-of-type {
  justify-self: end;
}

.modal-input[type="number"] {
  width: 40px;
  height: 100%;

  text-align: center;
}

.modal-input[type="number"]::-webkit-outer-spin-button,
.modal-input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.kids-label {
  margin-left: 5px;
}

.tooltip {
  position: absolute;
  top: 364px;
  left: 464px;
}

.tooltip-toggle {
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  display: block;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.tooltip-toggle,
.info-button {
  position: relative;
}

.tooltip-text {
  position: absolute;
  top: 40px;
  left: -115px;

  width: 256px;
  height: 143px;
  padding: 23px 18px 18px 22px;
  box-sizing: border-box;
  display: none;

  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;

  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip-text:before {
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  width: 19px;
  height: 9px;
  content: "";

  background: url("../images/tooltip-arrow.svg") no-repeat;
}

.modal-range-button {
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;

  cursor: pointer;
}

.modal-icon {
  fill: #756157;
  fill-opacity: 0.3;
}

.modal-range-button:hover .modal-icon,
.modal-range-button:focus .modal-icon {
  fill: #000000;
  fill-opacity: 1;
}

.modal-range-button:focus {
  outline: 3px solid #82b3d3;
}

.modal-range-button:focus .modal-icon {
  fill-opacity: 0.2;
}

.modal-search-form .button {
  grid-column: 1/-1;
  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 20px;
  line-height: 24px;

  border-radius: 10px;
}
