@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

.content-wrapper {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.reset-margin-padding {
  margin: 0;
  padding: 0;
}

/* кнопки */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-link {
  background-color: #756157;
}

.button-submit {
  background-color: #82B3D3;
}

/* header navigation */

.main-header, .inner-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation {
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  position: absolute;
  z-index: 1;
  top: 1px;
}

.navigation-wrapper {
  flex-basis: 876px;
  margin-left: 186px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-list:first-child {
  max-width: 400px;
}

.navigation-list:first-child .navigation-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-user {
  margin-left: auto;
  max-width: 300px;
  display: flex;
  justify-content: flex-end;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-item:last-child {
  margin-left: 20px;
}

.navigation .button {
  width: 160px;
  height: 36px;
}

.search, .favorites {
  width: 44px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  background: url("../images/menu-search.svg") 50% 50% no-repeat;
}

.favorites {
  background: url("../images/menu-heart.svg") 50% 50% no-repeat;
}

/* main index */

.intro-wrapper {
  height: 485px;
  text-align: center;
  background:
    url("../images/index-divider.svg") 0 100% no-repeat,
    url("../images/index-background.jpg") no-repeat;
  background-color: #82B3D3;
}

.intro-wrapper .intro-image {
  margin-top: 51px;
}


/* advantages */

.advantages {
  text-align: center;
}

.advantages-intro-wrapper {
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.advantages-list, .recommendation-list {
  list-style: none;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item {
  height: 384px;
}

.advantages-item:first-child {
  display: flex;
  grid-column: 1/4;
}

.advantages-item:last-child {
  display: flex;
  flex-direction: row-reverse;
  grid-column: 1/4;
}

.advantages-item, .recommendation-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:first-child, .advantages-item:last-child {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-about {
  width: 230px;
  margin: auto;
  margin-top: 103px;
  margin-bottom: 121px;
}

.advantages-item:first-child .advantage-about,
.advantages-item:last-child .advantage-about {
  margin-top: 92px;
  margin-bottom: 111px;
}

.advantages-title, .recommendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  margin: 0 auto;
  width: 175px;
}

.advantages-description, .recommendation-description {
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
}

.recommendation-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.recommendation-item {
  height: 384px;
}

.recommendation-about {
  width: 230px;
  margin:auto;
  margin-top: 92px;
  margin-bottom: 111px;
}

/* hotel search */

.hotel-search {
  text-align: center;
}

.hotel-search-wrapper {
  width: 592px;
  margin: 96px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hotel-search-description {
  margin-bottom: 54px;
}

.hotel-search .button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
  align-self: center;
}


/* footer-subscription */

.subscription {
  text-align: center;
  min-height: 414px;
  padding-top: 1px
}

.subscribtion-main {
  background: url("../images/subscribe-background.jpg") no-repeat;
  background-size: cover;
  color: #ffffff;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-content {
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-form-email {
  display: flex;
  justify-content: center;
  width: 684px;
  height: 52px;
  margin-top: 54px;
}

.subscription-input {
  width: 452px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription-input::placeholder {
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
}

.subscription-form-email .button {
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
}

/* footer */
.footer-contacts {
  width: 1060px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links-list {
  list-style: none;
  max-width: 142px;
  display: flex;
  flex-wrap: wrap;
}

.social-links-item {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
}

.social-links-link {
  margin: 0 auto;
  padding: 13px 12px;
}

.vk-link {
  background: url("../images/footer-vk.svg") 50% 50% no-repeat;
}

.telegram-link {
  background: url("../images/footer-telegram.svg") 50% 50% no-repeat;
}

.youtube-link {
  background: url("../images/footer-youtube.svg") 50% 50% no-repeat;
}


.phone-link {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.partner-link {
  margin-right: 0;
}

/* CATALOG */

/* hotel-filter */

.filter-wrapper {
  background: url("../images/catalog-background.jpg") no-repeat;
  color: #ffffff;
  height: 412px;
}

.main-inner-header {
  width: 1060px;
  padding-top: 35px;
  margin: 0 auto;
}

.main-inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.breadcrumbs-item:first-child {
  margin-right: 28px;
}

.hotel-filter-form {
  width: 1060px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.hotel-filter-group-left, .hotel-filter-group-right {
  display: flex;
  gap: 70px
}

.hotel-filter-group-left {
  min-width: 370px;
}

.hotel-filter-group {
  font-size: 18px;
  line-height: 23px;
  border: none;
}

/*---Пока что убрала внешний отступ в пользу использования gap, мне кажется, так будет лучше при переполнении контентом?
 .hotel-filter-group:first-child {
  margin-right: 70px;
} */

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotel-filter-list {
  list-style: none;
  margin-top: 32px;
  max-height: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hotel-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.hotel-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hotel-filter-buttons .button-submit {
  width: 191px;
  height: 36px;
  margin-bottom: 40px;
}

.button-reset {
  background: none;
  color: #ffffff;
  border: none;
}

/* catalog settings */

 .hotel-catalog-settings {
  width: 1060px;
  margin: 50px auto 40px;
  display: flex;
  align-items: center;
}

.hotel-search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-catalog-options {
  margin-left: 200px;
  display: flex;
}

.sort-by-price {
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  height: 49px;
}


/* hotel-catalog */

.hotel-catalog {
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.hotel-list {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;
}

.hotel-list-item {
 box-shadow: 0 0 1px 1px #E6E6E6;
 border-radius: 4px;
 margin-bottom: 20px;
}

.hotel-list-content {
  margin: 20px;
}

.hotel-type, .hotel-price {
  font-weight: 400;
}

.hotel-price {
  text-align: end;
}

.hotel-about {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-about .button {
  width: 140px;
  height: 36px;
}

.hotel-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-list-link {
  text-decoration: none;
}

.button-added {
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  height: 37px;
  border-radius: 4px;
}

.hotel-stars {
  width: 140px;
  height: 37px;
}

.hotel-stars-4 {
  background:
  url("../images/star.svg") 73px 10px no-repeat,
  url("../images/star.svg") 49px 10px no-repeat,
  url("../images/star.svg") 24px 10px no-repeat,
  url("../images/star.svg") 0 10px no-repeat;
}

.hotel-stars-3 {
  background:
  url("../images/star.svg") 49px 10px no-repeat,
  url("../images/star.svg") 24px 10px no-repeat,
  url("../images/star.svg") 0 10px no-repeat;
}

.hotel-stars-2 {
  background:
  url("../images/star.svg") 24px 10px no-repeat,
  url("../images/star.svg") 0 10px no-repeat;
}

/* pagination */

.pagination {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
}

.pagination-link {
  text-decoration: none;
  text-align: center;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-left: 8px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
  margin-left: 0;
}

.pagination-next {
  font-weight: 400;
  color: #000000;
  background: none;
}

/* модальное окно */
.modal-content {
  font-weight: 700;
}

.modal-content span {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.modal-content .date-invalid {
  color: #FF5757;
}
